{% extends "layout.html" %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static 'styles/gallery.css' %}" />
{% endblock %} {% block content %}
<section class="gallery-section pt-5">
  <h1 class="gallery-title mt-5">Our Product Gallery</h1>
  <div class="gallery-grid">
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/multi-size-copy.jpg' %}"
        alt="Product 1"
        loading="lazy"
      />
      <div class="overlay">Product 1</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image4.png' %}"
        alt="Product 1"
        loading="lazy"
      />
      <div class="overlay">Product 2</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image5.png' %}"
        alt="Product 2"
        loading="lazy"
      />
      <div class="overlay">Product 2</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/AirPods_Max.png' %}"
        alt="Product 3"
        loading="lazy"
      />
      <div class="overlay">Product 3</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/Gaming_destop.png' %}"
        alt="Product 4"
      />
      <div class="overlay">Product 4</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image3.png' %}"
        alt="Product 4"
      />
      <div class="overlay">Product 5</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image7.png' %}"
        alt="Product 5"
      />
      <div class="overlay">Product 6</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image8.png' %}"
        alt="Product 6"
      />
      <div class="overlay">Product 6</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image9.png' %}"
        alt="Product 7"
      />
      <div class="overlay">Product 7</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image10.png' %}"
        alt="Product 8"
      />
      <div class="overlay">Product 8</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image11.png' %}"
        alt="Product 9"
      />
      <div class="overlay">Product 9</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image12.png' %}"
        alt="Product 10"
      />
      <div class="overlay">Product 10</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image13.png' %}"
        alt="Product 11"
      />
      <div class="overlay">Product 11</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image14.png' %}"
        alt="Product 12"
      />
      <div class="overlay">Product 12</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image17.png' %}"
        alt="Product 13"
      />
      <div class="overlay">Product 13</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/image18.png' %}"
        alt="Product 14"
      />
      <div class="overlay">Product 14</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/multi-size-copy.jpg' %}"
        alt="Product 15"
      />
      <div class="overlay">Product 15</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/Orimo_booming_OverheadPhones.png' %}"
        alt="Product 16"
      />
      <div class="overlay">Product 16</div>
    </div>
    <!-- Additional Products -->
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/3in1cloour.jpg' %}"
        alt="Product 37"
        loading="lazy"
      />
      <div class="overlay">Product 37</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/binder.jpg' %}"
        alt="Product 38"
        loading="lazy"
      />
      <div class="overlay">Product 38</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/camera.jpg' %}"
        alt="Product 39"
        loading="lazy"
      />
      <div class="overlay">Product 39</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/cctv.jpg' %}"
        alt="Product 40"
        loading="lazy"
      />
      <div class="overlay">Product 40</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/cutting.jpg' %}"
        alt="Product 41"
        loading="lazy"
      />
      <div class="overlay">Product 41</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/drone.jpg' %}"
        alt="Product 42"
        loading="lazy"
      />
      <div class="overlay">Product 42</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/epson.jpg' %}"
        alt="Product 43"
        loading="lazy"
      />
      <div class="overlay">Product 43</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/extension.jpg' %}"
        alt="Product 44"
        loading="lazy"
      />
      <div class="overlay">Product 44</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/flashdrive.jpg' %}"
        alt="Product 45"
        loading="lazy"
      />
      <div class="overlay">Product 45</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/tech.png' %}"
        alt="Product 46"
        loading="lazy"
      />
      <div class="overlay">Product 46</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/startimes.jpg' %}"
        alt="Product 47"
        loading="lazy"
      />
      <div class="overlay">Product 47</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/usb65W.jpg' %}"
        alt="Product 48"
        loading="lazy"
      />
      <div class="overlay">Product 48</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/StarTimes2.jpg' %}"
        alt="Product 49"
        loading="lazy"
      />
      <div class="overlay">Product 49</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/StarTimes.jpg' %}"
        alt="Product 50"
        loading="lazy"
      />
      <div class="overlay">Product 50</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/speaker5.jpg' %}"
        alt="Product 51"
        loading="lazy"
      />
      <div class="overlay">Product 51</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/speaker3.jpg' %}"
        alt="Product 52"
        loading="lazy"
      />
      <div class="overlay">Product 52</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/special-offer.png' %}"
        alt="Product 53"
        loading="lazy"
      />
      <div class="overlay">Product 53</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/speaker2.jpg' %}"
        alt="Product 54"
        loading="lazy"
      />
      <div class="overlay">Product 54</div>
    </div>
    <div class="gallery-item">
      <img
        src="{% static 'assete/product_images/Orimo_booming_OverheadPhones.png' %}"
        alt="Product 55"
        loading="lazy"
      />
      <div class="overlay">Product 55</div>
    </div>
  </div>
</section>

<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-content" id="lightbox-img" alt="Expanded Image" />
</div>

{% endblock %}
